@use "styles/variables.scss" as *;

.nav {
    height: 64px;
    display: flex;
    background-color: $bgPrimary;

    .lists {
        display: flex;
        align-items: center;
        margin-left: 64px;
        li,
        .linkActive {
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.25px;
        }
        a {
            padding: 0 20px;
        }

        .linkActive {
            background: $bgSecondary;
            opacity: 0.7;
        }
    }
}
